$maingreen: #009545
$bordergreen: #007637
$lightgreen: #3AB874
$darkgreen: #005427

$mainred: #D32F00
$lightred: #FA4F1E
$darkred: #821D00
$borderred: #AC2700
$mainyellow: #ffea20
$darkyellow: #A99900
$lightyellow:#FFEE4B
$borderyellow:#D7C201
$mainblue: #005786
$lightblue: #006DA8
$darkblue: #00314B
$borderblue: #00456A

$gray: #434647

@mixin buttonHoverClick
  transition: all .2s ease-in-out
  &:hover
    box-shadow: 2px 2px 2px $gray
    transform: scale(1.01)
  &:active
    transform: scale(.98)

@mixin buttonStyle($main, $dark, $light, $border)
  background-color: $main
  border-color: $border
  &:hover
    background-color: $dark
    border-color: $border
  &:active,
  &:focus,
  &:visited,
    background-color: $light
    border-color: $border
  &:active:focus,
  &:active:hover,
    background-color: $light
    border-color: $border


// START SCREEN

.custom-battle-button,
.random-battle-button
  @include buttonHoverClick

// CHARACTER SCREEN

.character-screen-header,
.enemies-heading,
.heroes-heading,
.loss-heading,
.victory-heading
  color: $mainyellow

.character-choice
  @include buttonHoverClick

.checkmark
  color: $maingreen

// CONFIRM SCREEN

.confirm-button
  @include buttonStyle($maingreen, $darkgreen, $lightgreen, $bordergreen)
  @include buttonHoverClick

.back-button
  @include buttonHoverClick

// BATTLE SCREEN

.main-content
  background-image: url("../images/bg.jpg")

.enemy-image
  color: $mainred

.hero-image
  color: $mainblue

.enemy-image,
.hero-image
  font-size: 175px

div.progress-bar.progress-bar-danger.enemy-health.enemy-battle-health,
div.progress-bar.progress-bar-info.hero-health.hero-battle-health
  border-radius: 5px

.quit-game-button
  @include buttonHoverClick
  @include buttonStyle($mainred, $darkred, $lightred, $borderred)

.power-button
  @include buttonHoverClick
  @include buttonStyle($darkyellow, $borderyellow, $lightyellow, $borderyellow)
  color: white
  border: none

.hp-button
  @include buttonHoverClick
  @include buttonStyle($mainblue, $darkblue, $lightblue, $borderblue)

.attack-button
  margin: 0 auto
  @include buttonHoverClick
  @include buttonStyle($maingreen, $darkgreen, $lightgreen, $bordergreen)

//VICTORY AND LOSS SCREENS
.main-menu-button
  @include buttonHoverClick
