
//START SCREEN

.main-screen-button-rows
  margin-top: 10px
  margin-bottom: 10px
  &:nth-of-type(2)
    padding-bottom: 100px

//CHARACTER SCREEN
.character-screen-header
  text-align: center

.hero-image
  img
    height: 200px
    width: 200px

.enemy-image
  img
    height: 200px
    width: 200px

.enemies-heading
  text-align: center

.heroes-heading
  text-align: center

.character-choice
  width: 45%
  margin-bottom: 5px
  border-radius: 5px
  margin-left: 20px
  cursor: pointer

.checkmark
  padding-left: 15px

// CONFIRM SCREEN

.confirm-button-container,
.back-button-container
  position: relative
  bottom: 100px
  background-color: transparent
  border: none

.confirm-button-container
  left: 50px

.back-button-container
  right: 35px

.back-button
  span
    padding-right: 5px

.confirm-button
  span
    padding-left: 5px

// ENEMY SCREEN

.chosen-already
  pointer-events: none
  opacity: .4

//BATTLE SCREEN

.panel-body
  padding-top: 0px
  padding-bottom: 0px

.battle-logo
  height: 75px
  width: 150px
  padding-bottom: 10px

.main-content
  padding-top: 10px
  padding-left: 25px
  padding-right: 25px
  min-height: 700px

.main-logo-container
  margin-top: 100px
  margin-bottom: 20px

.panel-title
  text-align: center

.enemy-image,
.hero-image
  text-align: center

.attack-button
  margin: 0 auto

.enemy-health-bar,
.hero-health-bar
  margin-top: 15px
  margin-bottom: 2px

div.progress-bar.progress-bar-danger.enemy-health.enemy-battle-health,
div.progress-bar.progress-bar-info.hero-health.hero-battle-health
  height: 25px

.battle-enemy-content,
.battle-hero-content
  padding-top: 30px

.power-and-health-button-container
  margin-top: 5px
  text-align: center

.power-button
  margin-left: 10%

// VICTORY SCREEN

.victory-heading,
.loss-heading
  text-align: center
