
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'
@import "fontsandcolors"
@import "grid"
@import "mediaqueries"

*,
*::before,
*::after
  box-sizing: border-box

img
  max-width: 100%
