<!DOCTYPE html>

{{!-- HERO NAME --}}
  <h3 class="panel-title hero-name">{{name}}</h3>

{{!-- HERO HEALTH --}}
<li class="list-group-item">
  <span class="badge hero-health">100</span>
  Health Points
</li>

{{!-- ENEMY NAME --}}
<h3 class="panel-title enemy-name">{{name}}</h3>

{{!-- ENEMY HEALTH --}}
<span class="badge enemy-health">100</span>
Health Points
